<div id="sidebar" class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">

        <li class="mt">
            <a class="active" href="{{ path('cineland_accueil') }}">
                <i class="fa fa-dashboard"></i>
                <span>Accueil</span>
            </a>
        </li>

        <li class="sub-menu">
            <a href="#">
                <i class="fa fa-desktop"></i>
                <span>GENRE</span><i style="float: right" class="fa fa-sort-down"></i>
            </a>
            <ul class="sub">
                <li><a href="{{ path('Liste_Genre') }}">Liste des genres (A1)</a></li>
                <li><a href="{{ path('ajouter_genre') }}">Ajouter un genre (A2)</a></li>
            </ul>
        </li>

        <li class="sub-menu">
            <a href="#">
                <i class="fa fa-desktop"></i>
                <span>ACTEUR</span><i style="float: right" class="fa fa-sort-down"></i>
            </a>
            <ul class="sub">
                <li><a href="{{ path('liste_acteur') }}">Liste des acteurs (A3)</a></li>
                <li><a href="{{ path('liste_acteur_for_details') }}">Les détails d'un acteur (A4)</a></li>
                <li><a href="{{ path('ajouter_acteur') }}">Ajouter un acteur (A5)</a></li>
                <li><a href="{{ path('liste_acteur_for_modification') }}">Modifier un acteur (A6)</a></li>
                <li><a href="{{ path('liste_acteur_for_suppression') }}">Supprimer un acteur (A7)</a></li>
            </ul>
        </li>

        <li class="sub-menu">
            <a href="#">
                <i class="fa fa-desktop"></i>
                <span>FILM</span><i style="float: right" class="fa fa-sort-down"></i>
            </a>
            <ul class="sub">
                <li><a href="{{ path('liste_film') }}">Liste des films (A8)</a></li>
                <li><a href="{{ path('liste_film_for_details') }}">Les détails d'un film (A9)</a></li>
                <li><a href="{{ path('ajouter_film') }}">Ajouter un film (A10)</a></li>
                <li><a href="{{ path('liste_film_for_modification') }}">Modifier un film (A11)</a></li>
                <li><a href="{{ path('supprimer_film') }}">Supprimer un film (A12)</a></li>
            </ul>
        </li>

        <li class="sub-menu">
            <a href="#">
                <i class="fa fa-desktop"></i>
                <span>films par date</span><i style="float: right" class="fa fa-sort-down"></i>
            </a>
            <ul class="sub">
                <li><a  href="{{ path('action13') }}">Films entre 2 années (A13)</a></li>
                <li><a href="{{ path('action14') }}">Action 14</a></li>

            </ul>
        </li>

        <li class="sub-menu">
            <a href="#">
                <i class="fa fa-desktop"></i>
                <span>acteurs par film</span><i style="float: right" class="fa fa-sort-down"></i>
            </a>
            <ul class="sub">
                <li><a  href="{{ path('action15') }}">Action 15</a></li>
                <li><a href="{{ path('action16') }}">Action 16</a></li>

            </ul>
        </li>

        <li >
            <a href="{{ path('action17') }}">
                <i class="fa fa-desktop"></i>
                <span>Action 17</span>
            </a>
        </li>

        <li >
            <a href="{{ path('action18') }}">
                <i class="fa fa-desktop"></i>
                <span>Action 18</span>
            </a>
        </li>
        <li >
            <a href="{{ path('action19') }}">
                <i class="fa fa-desktop"></i>
                <span>Action 19</span>
            </a>
        </li>
        <li >
            <a href="{{ path('action20') }}">
                <i class="fa fa-desktop"></i>
                <span>Action 20</span>
            </a>
        </li>
        <li >
            <a href="{{ path('action21') }}">
                <i class="fa fa-desktop"></i>
                <span>Action 21</span>
            </a>
        </li>
        <li >
            <a href="{{ path('action22') }}">
                <i class="fa fa-desktop"></i>
                <span>Action 22</span>
            </a>
        </li>
        <li >
            <a href="{{ path('action23') }}">
                <i class="fa fa-desktop"></i>
                <span>Action 23</span>
            </a>
        </li>
        <li >
            <a href="{{ path('action24') }}">
                <i class="fa fa-desktop"></i>
                <span>Action 24</span>
            </a>
        </li>
        <li >
            <a href="{{ path('action25') }}">
                <i class="fa fa-desktop"></i>
                <span>Action 25</span>
            </a>
        </li>
        <li >
            <a href="{{ path('action26') }}">
                <i class="fa fa-desktop"></i>
                <span>Action 26</span>
            </a>
        </li>
    </ul>
    <!-- sidebar menu end-->
</div>